# Handling Missing/NaN values with Pandas pt1

##### Handling missing or NaN values in a dataframe is an important step in the data preprocessing stage before applying machine learning (ML) models

##### This is because most ML algorithms cannot handle missing values directly. Here are a few reasons why missing values should be handled before applying ML models:

- `NaN values can cause errors:` Most ML algorithms cannot handle missing values, so if there are any NaN values present in the data, the algorithm will throw an error.
- `NaN values can impact the quality of results:` If NaN values are present in the data, they can impact the quality of results produced by the ML algorithm. For example, if there are many NaN values in a particular feature or column, it may not be included in the final model, even though it may have been an important feature.
- `NaN values can cause bias:` If NaN values are not handled properly, they can cause bias in the data, which can lead to incorrect or biased results from the ML algorithm.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Pandas Dataframe:
It is a data-structure supposed to store tabular data like a spreadsheet or SQL table and perform manipulationd. Pandas is designed to treat data in a tabular format, where rows represent observations and columns represent variables.

In [4]:
# creating a sample dataframe using python dictionary
df=pd.DataFrame({
    "colA":[None,4,None,8,9,3],
    "colB":['Dog','Cat',None,'Cat','Dog','Horse'],
    "colC":[None,None,None,None,None,None],
    "colD":[0,4,None,7,8,4],
    "colE":[None,2,None,None,1,None]
})

##### Remember: Dataframe in pandas needs the column arrays to all be of same length/size, otherwise datafrane is invalid

In [5]:
df.columns # gives a string list of all the columns in dataframe

Index(['colA', 'colB', 'colC', 'colD', 'colE'], dtype='object')

In [6]:
df.size # returns the no of elements in df

30

In [7]:
df.shape # returns (no of rows x no of columns)

(6, 5)

##### IMPORTANT: size and shape are attributes not methods, so no paranthesis needed

In [8]:
df.shape[0] # returns no of elements in 0th column (but the column index here is irrelevant since all columns have same size)

6

In [9]:
print(df)

   colA   colB  colC  colD  colE
0   NaN    Dog  None   0.0   NaN
1   4.0    Cat  None   4.0   2.0
2   NaN   None  None   NaN   NaN
3   8.0    Cat  None   7.0   NaN
4   9.0    Dog  None   8.0   1.0
5   3.0  Horse  None   4.0   NaN

### `isna()` and `isnull()` command achieve the same things, ie mask the dataframe with boolean values where every NaN is True and non NaN values are false

In [10]:
# check if null values exist in df
df.isna()

    colA   colB  colC   colD   colE
0   True  False  True  False   True
1  False  False  True  False  False
2   True   True  True   True   True
3  False  False  True  False   True
4  False  False  True  False  False
5  False  False  True  False   True

In [11]:
# another way to do this is
df.isnull()

    colA   colB  colC   colD   colE
0   True  False  True  False   True
1  False  False  True  False  False
2   True   True  True   True   True
3  False  False  True  False   True
4  False  False  True  False  False
5  False  False  True  False   True

### `any()` method in pandas is used to check whether at least one element of a boolean array or boolean DataFrame axis (ie column or row) is True

##### IMPORTANT: (axis=0) parameter marks rows and (axis=1) marks columns

In [12]:
df.any() # default on columns

colA     True
colB     True
colC    False
colD     True
colE     True
dtype: bool

In [13]:
df.any(axis=0) # returns false only if entire column is NaN values

colA     True
colB     True
colC    False
colD     True
colE     True
dtype: bool

In [14]:
df.any(axis=1) # returns false only if entire row is NaN / 0 values

0     True
1     True
2    False
3     True
4     True
5     True
dtype: bool

### `all()` returns True if all elements in a DataFrame (row, column, or entire dataframe) evaluate to True, and False otherwise.

In [15]:
df.all() # default on columns

colA     True
colB     True
colC     True
colD    False
colE     True
dtype: bool

#### On default, a DataFrame is marked as false only if values are '0', while NaN values are marked as true

#### We can however mask all non NaN values as true and NaN values as false using `isna()` or `isnull()` as we saw above

In [16]:
df.all(axis=0) # returns false if it encounters a "0" value in column

colA     True
colB     True
colC     True
colD    False
colE     True
dtype: bool

In [17]:
df.all(axis=1)  # returns false if it encounters a "0" value in rows

0    False
1     True
2     True
3     True
4     True
5     True
dtype: bool

### `sum()` command calculate the sum of values in a DataFrame or Series.

In [18]:
df.sum(numeric_only=True) # on default adds up columns

colA    24.0
colD    23.0
colE     3.0
dtype: float64

##### `numeric_only=True` ensures only numeric valued columns are added up

In [19]:
df.sum(axis=1, numeric_only=True) # row wise addition

0     0.0
1    10.0
2     0.0
3    15.0
4    18.0
5     7.0
dtype: float64

### `mean()` calculates the mean of values in a DataFrame or series

In [20]:
df.mean(numeric_only=True) # on default finds mean of columns

colA    6.0
colD    4.6
colE    1.5
dtype: float64

In [21]:
df.mean(axis=1, numeric_only=True) # row wise mean

0    0.000000
1    3.333333
2         NaN
3    7.500000
4    6.000000
5    3.500000
dtype: float64

### `groupby('column_which_we_group_by')['column_that_gets_grouped_accordingly']`  is for grouping and selecting subsets of data from a DataFrame.

In [22]:
grouped=df.groupby('colB')['colD'] #groups the column D according to column B

# Print the mean of grouped data
grouped.mean()

colB
Cat      5.5
Dog      4.0
Horse    4.0
Name: colD, dtype: float64

## We can use the above to filter and find important data in our dataframe

In [23]:
# count no of NaN values in our dataframe columns
df.isna().sum(axis=0)

colA    2
colB    1
colC    6
colD    1
colE    4
dtype: int64

In [24]:
# count no of NaN values in our dataframe rows
df.isna().sum(axis=1)

0    3
1    1
2    5
3    2
4    1
5    2
dtype: int64

In [25]:
# another way to do this would be to:

for col in df.columns:
    print(col," ",df[col].isnull().sum())

print("\n")

for index, row in df.iterrows():
    print(index," ",row.isna().sum())

colA   2
colB   1
colC   6
colD   1
colE   4


0   3
1   1
2   5
3   2
4   1
5   2

#### `iterrows()` method allows you to iterate over the rows of a DataFrame as a tuple of (index, Series) pairs.

In [26]:
# count no of entire NaN rows in dataframe
df.isna().all(axis=0).sum()

1

In [27]:
# count no of entire NaN rows in dataframe
df.isna().all(axis=1).sum()

1

### But this in itself isn't good enough, what if we want to check a ratio of NaN values so we only drop or modify the ones which have more NaN values than we want

In [28]:
# count no of features (ie column) that contain more than half NaN values
# ie 0.5 NaN to non-NaN ratio

threshold=0.5 # sets the mimimum NaN to non-NaN ratio to 0.5
count=0 # counts no of features that surpass
for col in df.columns:
    if (df[col].isna().sum()/df.shape[0]>threshold).any():
        count+=1
print(count)

2

In [29]:
# another way to do this would be

threshold=0.8 # sets the mimimum NaN to non-NaN ratio to 0.8
count2=0;
for col in df.columns:
    if(df[col].isna().mean()>threshold).any():
        count2+=1
print(count2)

1

In [30]:
# Now, let's make a feature list of all values

features_with_na=[feature for feature in df if df[feature].isna().sum()>0]
X=df[features_with_na]
print(X)

   colA   colB  colC  colD  colE
0   NaN    Dog  None   0.0   NaN
1   4.0    Cat  None   4.0   2.0
2   NaN   None  None   NaN   NaN
3   8.0    Cat  None   7.0   NaN
4   9.0    Dog  None   8.0   1.0
5   3.0  Horse  None   4.0   NaN

In [31]:
# check the percentage of NaN values in each column

for feature in features_with_na:
    print(feature,"-->",np.round(df[feature].isnull().mean(),4),'% missing values')

colA --> 0.3333 % missing values
colB --> 0.1667 % missing values
colC --> 1.0 % missing values
colD --> 0.1667 % missing values
colE --> 0.6667 % missing values

In [32]:
df["colF"] = [1, 2, 3, 4, 5, 6] # add a new row to our dataframe